@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
  --dark-gray: rgb(53, 49, 49);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}